* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito", sans-serif;
}

body {
  background-color: #000;
}

div#root {
  width: 100%;
  overflow: hidden;
}

.container {
  max-width: 1100px;
  width: 100%;
  margin: auto;
}

/* Header Start */
header.main_header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px;
  margin: auto;
  z-index: 999;
  transition: all 0.68s cubic-bezier(0.91, -0.29, 0, 1.16);
}

header.main_header.sticky {
  top: -100%;
}

header.main_header ul {
  display: flex;
  justify-content: center;
  gap: 4px;
  align-items: center;
  list-style: none;
  margin: auto;
  height: 50px;
}

header.main_header ul li {
  cursor: pointer;
}

header.main_header ul li a {
  display: block;
  padding: 10px 14px;
  text-decoration: none;
  color: #fff;
  background-color: #212121;
  font-size: 12px;
  font-weight: 600;
  transition: background-color 0.2s, transform 0.78s linear(0, .5737 7.6%, .8382 11.87%, .9463 14.19%, 1.0292 16.54%, 1.0886 18.97%, 1.1258 21.53%, 1.137 22.97%, 1.1424 24.48%, 1.1423 26.1%, 1.1366 27.86%, 1.1165 31.01%, 1.0507 38.62%, 1.0219 42.57%, .9995 46.99%, .9872 51.63%, .9842 58.77%, 1.0011 81.26%, 1);
  text-transform: uppercase;
  position: relative;
  border-radius: 6px;
}

header.main_header ul li a span {
  display: block;
  transition: all 0.78s linear(0, .5737 7.6%, .8382 11.87%, .9463 14.19%, 1.0292 16.54%, 1.0886 18.97%, 1.1258 21.53%, 1.137 22.97%, 1.1424 24.48%, 1.1423 26.1%, 1.1366 27.86%, 1.1165 31.01%, 1.0507 38.62%, 1.0219 42.57%, .9995 46.99%, .9872 51.63%, .9842 58.77%, 1.0011 81.26%, 1);
}

header.main_header ul li:hover a,
header.main_header ul li a.active {
  /* background-color: #94f80c; */
  background-color: #5c2ea1;
  color: #fdf9e3;
  transform: scale(0.95);
  border-radius: 100px;
}

header.main_header ul li:hover a span,
header.main_header ul li a.active span {
  transform: scale(0.9);
}

/* Header End */


section {
  width: 100%;
}


/** Home Hero Start */
section.hero_section {
  padding-top: 20dvh;
  min-height: 100dvh;
  padding-bottom: 100px;
}

section.hero_section .container {
  max-width: 1100px;
}

section.hero_section h1,
section.hero_section h1 * {
  font-size: 6rem;
  font-family: "Passion One", sans-serif;
  display: inline-block;
  margin: 0;
  padding: 0;
  text-align: center;
  text-transform: uppercase;
}

p.hero_subtext {
  max-width: 880px;
  text-align: center;
  margin: auto;
  margin-top: 30px;
}

section.hero_section h1 div.highlight * {
  font-family: inherit;
  background: linear-gradient(327deg, #7cff6c, #34a3ff, #8f4dff, #ff7e56);
  -webkit-background-clip: text;
  color: transparent;
  display: inline;
}


.hero_info_box_wrapper {
  display: flex;
  gap: 20px;
  max-width: 480px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.hero_info_box_wrapper .hero_info_box:before {
  content: '';
  width: 2px;
  height: 100%;
  background: #fff;
  position: absolute;
  top: 0;
  right: 0;
}

.hero_info_box {
  padding: 20px;
  border-radius: 4px;
  max-width: 180px;
  margin: 40px 10px;
  position: relative;
}

.hero_keypoints {
  opacity: 0.6;
}

.hero_info_box_wrapper .hero_info_box:before {
  content: '';
  width: 1px;
  height: 100%;
  background: #333;
  position: absolute;
  top: 0;
  right: 0;
}

.hero_info_box h2 {
  text-transform: uppercase;
  margin: 10px 0px 20px;
}

span.live_text_green {
  position: relative;
  margin-left: 18px;
}

span.live_text_green:after {
  content: '';
  width: 4px;
  height: 4px;
  background: #94f809;
  position: absolute;
  top: 8px;
  left: -16px;
  border-radius: 50%;
}

@keyframes glow_led {
  from {
    opacity: 1;
    transform: scale(0);
  }

  to {
    opacity: 0;
    transform: scale(1);
  }
}

span.live_text_green:before {
  content: '';
  width: 24px;
  height: 24px;
  background: #94f809;
  animation: glow_led 1s linear infinite;
  position: absolute;
  top: -2px;
  left: -26px;
  border-radius: 50%;
}

.hero_info_box img.link_arrow_icon {
  filter: invert(1);
  transform: rotate(90deg);
}

/** Home Hero End */

.home_sections {
  position: relative;
  height: 200dvh;
}

/** Intro Section Start **/
section.intro_section {
  margin: 100px 0px;
  height: 100dvh;
  display: flex;
  justify-content: center;
  align-items: center;
  /* position: absolute;
  top: 0;
  left: 0; */
}

.intro_cards_wrap {
  display: grid;
  gap: 20px;
  grid-template-columns: 4fr 4fr 4fr;
  margin: auto;
}

.intro_cards_wrap .intro_card {
  border-radius: 20px;
  overflow: hidden;
  aspect-ratio: 2/3;
  width: 100%;
  background-color: #fff;
}

.intro_cards_wrap .intro_card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/** Intro Section End **/



/** About Section Start **/
section.about_section {
  padding: 100px 0px;
}

.about_card_wrap {
  display: grid;
  grid-template-columns: 6fr 6fr;
  gap: 20px;
  background: #111;
  border-radius: 20px;
  overflow: hidden;
  padding: 40px;
}

.about_card_wrap>div {
  width: 100%;
}

.about_card_wrap>div.abc_left {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
}

.about_card_wrap>div img {
  width: 100%;
  border-radius: 10px;
  aspect-ratio: 1/1;
  object-fit: cover;
}

.about_card_wrap>div.abc_left h2 {
  font-family: 'Passion One', sans-serif;
  font-size: 60px;
  max-width: 320px;
  line-height: 1;
}

.about_card_wrap>div.abc_left p {
  opacity: 0.6;
}

/** About Section End **/



/** Tech Logos Start */
section.tech_section {
  padding: 0px 0px 100px;
}

.tech_logo_slider {
  display: flex;
  gap: 60px;
  font-size: 12dvh;
  background: #09c85e;
  color: #000;
  transform: rotateZ(-5deg);
  width: calc(100% + 100px);
  margin-left: -50px;
}

.tech_logo_slider .logo_itm {
  font-weight: 800;
  text-transform: uppercase;
  opacity: 0.8;
  position: relative;
}

.tech_logo_slider .logo_itm:first-child {
  padding-left: 60px;
}

.tech_logo_slider .logo_itm:after {
  content: '*';
  position: absolute;
  top: 17px;
  left: -49px;
}

.tech_logo_slider .logo_itm:first-child:after {
  left: 10px;
}

/** Tech Logos End */


/** Showcase Section Start */
section:not(.showcase_section) {
  z-index: 9;
  position: relative;
  background: #000;
}

section.showcase_spacer {
  height: 100dvh;
  background: transparent;
}

section.showcase_section {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  background: #fdf9e3;
  height: 100dvh;
}

section.showcase_section .showcase_items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100%;
  width: 180dvw;
  transform: translateX(-50dvh);
}

section.showcase_section .showcase_items .showcase_item {
  width: 100%;
  overflow: hidden;
  border-radius: 10px;
  height: 80dvh;
  box-shadow: 0px 12px 25px #00000040;
}

section.showcase_section .showcase_items .showcase_item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/** Showcase Section End */


/* Promise Section Start */
section.promise_section {
  padding: 100px 0px;
}

section.promise_section .prms_head {
  text-align: center;
  max-width: 680px;
  margin: 0px auto 100px;
}

section.promise_section .prms_head h2 {
  font-size: 60px;
  font-family: 'Passion One';
  line-height: 1;
  margin-bottom: 20px;
  text-transform: uppercase;
}

section.promise_section .prms_head p {
  font-size: 16px;
  max-width: 500px;
  margin: auto;
}

.promise_cards {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.promise_cards .prms_card {
  background: #111;
  padding: 60px 40px 40px;
  border-radius: 20px;
  position: relative;
}

.promise_cards .prms_card ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  list-style: none;
  padding: 0;
  margin: 40px 0px;
}

.promise_cards .prms_card ul li {
  padding: 14px 0px;
  border-bottom: 1px dashed #333;
  text-transform: uppercase;
  font-family: 'Passion One';
  font-size: 24px;
}

.promise_cards .prms_card h4 {
  font-size: 30px;
  background: #222;
  border-radius: 10px;
  display: block;
  position: absolute;
  padding: 10px 20px;
  top: -30px;
  left: 30px;
  transform: rotate(-4deg);
  font-family: 'Passion One';
  text-transform: uppercase;
}

.promise_cards .prms_card:nth-child(1) h4 {
  background: #3c2499;
}

.promise_cards .prms_card:nth-child(2) h4 {
  background: #2b782b;
}

.promise_cards .prms_card:nth-child(3) h4 {
  background: #be3f3f;
}

/* Promise Section End */